#Ignored files for Unreal 4 Code Project

# VS Files, these will be rebuilt by VS if needed
# Else they are simply files we don't need to pass around
*.lastbuildstate
*.opensdf
*.sdf
*.suo
*.pdb

# Files that will be built by the engine
SpookyPhone/Binaries/
SpookyPhone/DerivedDataCache/
SpookyPhone/Intermediate/Build/
SpookyPhone/Intermediate/ProjectFiles/
SpookyPhone/Saved/

*.bin
*.dll
*.lib
*.manifest
*.response
*.sln
*.wav

# Content specific folders, not to be tracked in the repo!
/SpookyPhone/Content/SplatterDecals/
/SpookyPhone/Content/UrbanPropsPack/
/SpookyPhone/Content/TheBunkerPack/
/SpookyPhone/Content/HorrorMusicPack/
/SpookyPhone/Content/Sound/
